<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-navbar">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="index.html">
        <img src="../assets/img/logo.svg" alt="MojaŠkatla logo" height="32" class="d-inline-block align-text-top me-2" />
         MojaŠkatla
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Domov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shop.html">Trgovina</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services.html">Storitve</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Kontakt</a>
        </li>
      </ul>
      <a href="cart.html" class="btn btn-outline-light position-relative">
        <i class="bi bi-cart"></i>
        <span class="ms-1">Košarica</span>
        <span
          class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle"
          id="cart-count"
          >0</span
        >
      </a>
    </div>
  </div>
</nav>
