main {
  background: #f8f9fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-section {
  min-height: 35vh;
  padding: 80px 0;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.hero-box {
  border-radius: 1rem;
}

.popular-items-section {
  padding: 50px 0;
  background-color: #0d6efd;
  text-align: center;
}

.popular-items-section h2 {
  font-size: 2rem;
  color:white;
  margin-bottom: 30px;
}

.items-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.item-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 25px;    
  width: 250px;   
  transition: transform 0.3s;
}


.item-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.item-card h3 {
  font-size: 1.1rem;
  margin: 15px 0 5px;
}

.item-card p {
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
}

.item-card:hover {
  transform: scale(1.05);
}

.category-card {
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.category-card i {
  font-size: 3rem;
  color: #0d6efd;
  margin-bottom: 10px;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
